<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>거래처정보</title>
        <link rel = "stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <link rel = "stylesheet" type="text/css" href="{% static 'css/client_inform.css' %}?after ">
        <input type="hidden" id="tempVar" name="variable" value="{{ column }}">
        <input type="hidden" id="clientCreateUrl" value="{% url 'client_inform:create' %}">
</head>
 
<body>
    {% include 'navbar.html' %}
    <div class="layout">
        {% include 'sidebar.html' %}

        <div class="content-area">
            <span class="menuTitle">거래처정보</span><!-- 메뉴 이름(한글) -->
        <div class="contentsBox"> <!-- 내용 박스 -->
                    <!-- 코딩할 위치 -->
                <div class="tab_menu">
                    <button id="inform"  onclick=inform()>업체정보관리</button>
                    <button id="vaccine" onclick=vaccine()>백신갱신사 리스트</button>
                    <hr style="border: 0.5px groove #e2e2e2; ">
                </div>
                <span id="content"></span>
                <span id="btna"></span>
                <span id="btnb"></span>
                <div id="year"></div> 
                <div class="tool">
                    <button id="copy" onclick=copy()>Copy</button>
                    <button id="excel" onclick=excel()>Excel</button>
                    <button id="print" onclick=print()>Print</button>
                    <button id="column_visiblity" onclick=column_visiblity()>Column visibility</button>
                    <a href="{% url 'client_inform:create' %}" class="btn btn-success" style="margin-left:10px;">업체등록</a>
                </div>
                <div class="tool2">
                    <input class="form-control" type="text" placeholder="검색어를 입력하세요." aria-label="검색어를 입력하세요." aria-describedby="button-search" id="search-input"/>
                    <button class="btn btn-primary" id="button-search" type="button" onclick="search()">검색</button>
                </div>
                <br>
                <br>
                <div class="tableBox">
                    <div class="t1Box">
                        <div id="inform_table"><table id="t1"></table></div>
                    </div>
                    <div class="t2Box">
                        <div id="vaccine_list"><table id="t2"></table></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/client_inform.js' %}"></script>
    </body>
</html>