<html>
    <head>
        {% load static %}
        <link rel = "stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <meta charset="utf-8">

		<script src="{% static 'js/login.js' %}" type="text/javascript" defer></script>
    </head>
    <body>
        <div class="loginBox">
            <img class="logo" src="{% static 'menu/logo.png' %}" width="130px">
            <div class="loginInput">
                <input type="text" id="idBox"><br>
                <input type="text" id="pwBox"><br>
                <input type="button" id="loginBtn" value="로그인">
            </div>
            <div class="loginOption">
                <input type="button" id="findId" value="아이디찾기"><span style="font-size: 10px;">ㅣ</span>
                <input type="button" id="findPw" value="비밀번호찾기"><span style="font-size: 10px;">ㅣ</span>
                <input type="button" id="join" value="회원가입">
            </div>
        </div>
    </body>
<html>