{% load static %}
<div class="userBox"> <!-- 프로필 -->
    <div class="profile">
        <img src="{% static 'images/puppy.jpg' %}" alt="프로필 이미지">
    </div>
    <span class="username">{{ user.username|default:"강아지" }}</span> <!-- 이름 -->
    <span class="userrank">{{ user.get_user_type_display|default:"사원" }}</span> <!-- 직급 -->
    <div class="timeCheck">
        <div class="goTime">
            <span id="goText">출근</span><br>
            <input type="button" class="goBtn" value="09:00"></input> <!-- 버튼 누르면 현재 시간 저장-->
        </div>
        <div class="outTime">
            <span id="outText">퇴근</span><br>
            <input type="button" class="outBtn" value="18:00"></input>
        </div>
    </div>
    <div class="alarm">
        <div class="alarmImg">
            <img src="{% static 'images/alarm.png' %}" width="15px" alt="알림">
        </div>
        <div class="alarmTitle">알림</div>
        <div class="alarm">
            <input type="button" class="allBtn" value="전체알림"></input>  <!-- 전체알림 -->
            <span style="margin-top: 2px; font-size: 12px;">I</span>
            <input type="button" class="metionBtn" value="우선알림"></input> <!-- 우선알림, 개인알림 -->
            <br>
        </div>
        <br>
        <div class="alarmBox"> <!-- 알림 상자 -->
            <span class="Box"></span>
            <div class="alarmCon">
                {% if notifications %}
                    {% for notification in notifications %}
                        <span class="alarmName">{{ notification.title }}</span>
                        <span class="alarmWirter">{{ notification.author }}</span><br>
                        <span class="alarmSub">{{ notification.content }}</span><br>
                    {% endfor %}
                {% else %}
                    <span class="alarmSub">새로운 알림이 없습니다.</span>
                {% endif %}
            </div>
        </div>
        <div class="userMenu">
            <div class="dateMenu">
                <a href="/data/"><img src="{% static 'images/datablack.png' %}" width="40px" alt="자료"><br></a> <!-- 자료페이지로 이동-->
                <span style="font-size: 13px; font-weight: 500; margin-left: 7px">자료</span>
            </div>
            <div class="authoMenu">
                <a href="/authority/"><img src="{% static 'images/authorityblack.png' %}" width="40px" alt="권한"><br></a>
                <span style="font-size: 13px; font-weight: 500; margin-left: 7px">권한</span>
            </div>
            <div class="settingMenu">
                <a href="/setting/"><img src="{% static 'images/settingblack.png' %}" width="40px" alt="설정"><br></a>
                <span style="font-size: 12px; font-weight: 500; margin-left: 7px">설정</span>
            </div>
        </div>
    </div>
</div> <!-- 프로필 -->
