@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

body{ /*폰트설정*/
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f8f8;
}

*{padding:0;margin:0} /*상단메뉴바*/
			ul,ol{list-style:none}
			a{text-decoration:none;color:#fff;font-size:15px}
			nav{width:80%;overflow:hidden; height:80px;background: linear-gradient(45deg, #aadbd5, #80bfd7);margin: auto}
			#nav3 {
  				width: 100%;
                height: 9%;
 				position: relative;
  				text-align: center;
			}
			#nav3>a { 
				line-height: 80px;
 				display: block;
  				font-size: 40px;
  				position: absolute;
  				left: 50px; 
			}
			#nav3>select {
  				padding: 0 20px;
  				height: 30px;
  				background-color: #1b2035;
 	 			color: #fff;
  				position: absolute;
  				right: 30px;
  				top: 8%;
  				transform: translateY(-15px);
  				border: 2px solid #fff;
  				border-radius: 30px;
			}		
			#nav3>ul {
  				display: inline-block;
			}
			#nav3>ul li {
  				float: left;
  				line-height: 80px;
  				padding: 0 3px;
            }
            
.menuTitle{ /*메뉴이름*/
    font-size: 20pt;
    font-weight: bold;
    color: #002835;
	margin-left: 43%;
	margin-right: 43%;
	margin-top: 13px;
	margin-bottom: 10px;
	display : inline-block;

}

.layout:after{ clear: both; display: block; content: '' }

.layout{
	margin-left: 8.3%;
	margin-right: 8.3%;
}



.layout .userBox{
	width: 20%;
	height: 70%;
	margin-top: 5px;
	background-color: #80bfd7;
	box-shadow: 2px 2px 7px -5px #545454;
	float: left;
}


.layout .ontentsBox { /*내용 박스*/
    width: 75%;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    padding: 0 20px 20px 20px;
    box-shadow: 2px 2px 7px -5px #545454;
    background-color: white;
	float: right;
	border-right: none;
}


.calendar{ /*메뉴제목*/
    border: 20px;
    width: 90%;
    height: 400px;
    margin: auto;
    text-align: center;
    vertical-align: top;
    line-height: 50px;
}

.notice{
	border: 1px solid #e0e0e0;
	width: 100%;
}

.titleSearch tr, .titleSearch td{ /*제목과 검색기능*/
	text-align: right;
	width: 1600px;
}

.notice th {
    border-bottom: 2px solid #e2e2e2;
    padding: 10px;
    font-size: 12pt;
}
.notice td {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
    font-size: 11pt;
    background: #f8f8f8;
}

tbody tr:nth-child(2n) {
    background-color: #f1f1f1;
}

tbody tr:nth-child(2n+1) {
    background-color: white;
}




.btn {
	border-radius: 5px;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #afe6fb;
	border: none;
	height: 25px;
	width: 90px;
	box-shadow: 2px 2px 7px -5px #545454;
}

.btn:hover {
	color: white;
}


.searchtool{
	margin-left: 73%;
	margin-top: 20px;
}


.form-control{
	border-radius: 5px;
	border: 1.5px solid #80bfd7;
	height: 25px;
}

.btn-primary{
	border-radius: 5px;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #afe6fb;
	border: none;
	height: 25px;
	width: 35px;
}

#notice_name {
	border-radius: 5px;
	border: 1.5px solid #80bfd7;
	height: 25px;
	background-color: white;
}